/****************************************************************************
								   Indicator
****************************************************************************/
site-subnavbar site-subnavbar-link-indicator {
	padding-top: 5px;
	padding-left: 15px;

	font-size: 12px;
}