/****************************************************************************
									Links
****************************************************************************/
site-subnavbar site-subnavbar-link.selected {
	text-shadow: 0px 2px pink;
}



/****************************************************************************
								   Indicator
****************************************************************************/
site-subnavbar site-subnavbar-link-indicator {
	padding-top: 5px;
	padding-left: 15px;

	font-size: 12px;
}