/****************************************************************************
									Host
****************************************************************************/
:host {
	display: block;
	padding: 15px;
	position: relative;

	cursor: pointer;
}




/****************************************************************************
									Title
****************************************************************************/
:host ::content .title {
	font-weight: bold;
}




/****************************************************************************
									Summary
****************************************************************************/
:host ::content .summary {
	font-size: 14px;
}




/****************************************************************************
								   Read More
****************************************************************************/
:host .read-more {
	position: absolute;
	bottom: 15px;
	right: 15px;

	color: purple;
}