@import "/css/scaffolding.css";

:host {
	position: relative;
	min-height: 150px;
	width: 100%;
	margin-top: 25px;
	padding: 15px 50px 15px 5%;

	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 9%,rgba(255,255,255,0.1) 10%,rgba(0,0,0,0.1) 11%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.1) 89%,rgba(255,255,255,0.1) 90%,rgba(0,0,0,0.1) 91%,rgba(0,0,0,0) 100%);
}

:host::before {
	content: "";
	width: 600px;
	min-height: 150px;
	position: absolute;
	top: 0;
	left: 4%;

	background: url("/images/swirls1.png");
	background-repeat: no-repeat;
	background-size: 600px 150px;
	opacity: 0.1;
}

:host navbar-brand {
	display: inline-block;
	margin: 6px 0;

	font-family: FancyFont;
	font-size: 72px;
}

:host navbar-links {
	float: right;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

:host navbar-links > a {
	position: relative;

	letter-spacing: 1px;
}

:host navbar-links > a.selected {
	cursor: default;
}

:host navbar-links > a.selected::before,
:host navbar-links > a:not(.selected):hover::before {
	content: "";
	width: 175%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -40%;

	background: url("/images/line2.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.4;
}

@media (max-width: 768px) {
	:host {
		margin: 0;

		text-align: center;
	}

	:host navbar-brand {
		margin: 0;
	}

	:host navbar-links {
		float: none;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
}