/****************************************************************************
									Host
****************************************************************************/
:host {
	display: block;
	text-align: center;

	font-size: 56px;
}

@media (max-width: 768px) {
	:host {
		font-size: 7vw;
	}
}